  div.industrial>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/4/4e/RWB_Industriegebiet.svg") ;
    }
  div.park_and_ride>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/9/94/Sinnbild_P-R.svg") ;
    }  
  div.parking>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/0/0f/UK_traffic_sign_801.svg") ;
    }  
  div.fuel>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/d/d3/Zeichen_361-50.svg") ;
    }  
  div.stadium>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/f/fb/Stadium_icon.svg") ;
    } 
  div.airport>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/5/51/Italian_traffic_signs_-_icona_aeroporto.svg") ;
    }   
  div.restaurant>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/4/4d/Zeichen_376.svg") ;
    }   
  div.toilets>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/d/d7/Zeichen_378.svg") ;
    } 
  div.motorway>span, div.highway>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/2/2a/Zeichen_330_-_Autobahn%2C_StVO_1992.svg") ;
    } 
  div.hospital>span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/9/94/RWB_Krankenhaus.svg") ;
    }  