  .bicycleno {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/b/b0/Zeichen_254_-_Verbot_für_Radfahrer%2C_StVO_1992.svg");
    }
  
  .footno {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/f/f6/Zeichen_259_-_Verbot_für_Fußgänger%2C_StVO_1992.svg");
    }  

  .hgvno {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/9a/Zeichen_253_-_Verbot_für_Kraftfahrzeuge_mit_einem_zulässigen_Gesamtgewicht%2C_StVO_1992.svg");
    }
    
  .motorroad {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/7/77/Zeichen_331.1_-_Kraftfahrstraße%2C_StVO_2013.svg");
    }  
  .overtaking {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/5/5e/Zeichen_276_-_Überholverbot_für_Kraftfahrzeuge_aller_Art%2C_StVO_1992.svg");
    }  
  .overtakinghgv {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/a/ad/Zeichen_277_-_Überholverbot_für_Kraftfahrzeuge_mit_einem_zulässigen_Gesamtgewicht_über_2%2C8_t%2C_einschließlich_ihrer_Anhänger%2C_StVO_1992.svg");
    }  
    
  .bicycledesig {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/91/Zeichen_237_-_Sonderweg_Radfahrer%2C_StVO_1992.svg");
    }
  .busdesig {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/05/Zeichen_245_-_Bussonderfahrstreifen%2C_StVO_2013.svg");
    } 
    
  .roundabout {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/7/72/Zeichen_215_-_Kreisverkehr%2C_StVO_2000.svg");
    }

  .taxiyes {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/43/Zusatzzeichen_1026-30_-_Taxi_frei%2C_StVO_1992.svg");
  }
  .bicycleyes {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/04/Zusatzzeichen_1022-10_-_Radfahrer_frei%2C_StVO_1992.svg");
  }

  .traffic_signals {  
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/45/Zeichen_131_-_Lichtzeichenanlage%2C_StVO_1970.svg");
    }     
  .give_way {  
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/6/6f/Zeichen_205_-_Vorfahrt_gewähren!_StVO_1970.svg");
    }     
  .stop {  
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/2f/Zeichen_206_-_Halt!_Vorfahrt_gewähren!_StVO_1970.svg"); 
    }     
  .priority {  
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/2a/Zeichen_301_-_Vorfahrt%2C_StVO_1970.svg");
    }         
  .crossing {  
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/6/60/Zeichen_350-10_-_Fußgängerüberweg_(rechts)%2C_StVO_1992.svg");
    }       
  .priority_road {  
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/f/ff/Zeichen_306_-_Vorfahrtstra%C3%9Fe%2C_StVO_1970.svg");
    }        
  
  
  
    
.condition.wet {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/b/be/Zusatzzeichen_1053-35_-_Bei_Nässe_(600x600)%2C_StVO_2017.svg");
  border:none;
  background-color:transparent;
  height:35px;
  }
.condition.hgv {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/09/Zusatzzeichen_1010-51_-_Kraftfahrzeuge_mit_einer_zulässigen_Gesamtmasse_über_3%2C5_t_einschließlich_ihrer_Anhänger_und_Zugmaschinen%2C_ausgenommen_Personenkraftwagen_und_Kraftomnibusse%2C_StVO_2017.svg");
  border:none;
  background-color:transparent;
  height:20px;
  }      
