  .bicycleno {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/4/48/Zeichen_254.svg");
    }
  
  .footno {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/c/cc/Zeichen_259.svg");
    }  

  .hgvno {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/7/72/Zeichen_253.svg");
    }
    
  .motorroad {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/c/c6/Zeichen_331.svg");
    }  
  .overtaking {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/8/87/Zeichen_276.svg");
    }  
  .overtakinghgv {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/c/ca/Zeichen_277.svg");
    }  
    
  .bicycledesig {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/2/2d/Zeichen_237.svg");
    }
  .busdesig {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/4/45/Zeichen_245.svg");
    } 
    
  .roundabout {
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/7/72/Zeichen_215_-_Kreisverkehr%2C_StVO_2000.svg");
    }


  .traffic_signals {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/9/93/Zeichen_131.svg") ;
    }     
  .give_way {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/9/96/Zeichen_205.svg") ;
    }     
  .stop {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/5/5c/Zeichen_206.svg") ;
    }     
  .priority {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/9/91/Zeichen_208.svg") ;
    }         
  .crossing {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/b/b0/Zeichen_350-10.svg") ;
    }       
  .priority_road {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/f/ff/Zeichen_306_-_Vorfahrtstra%C3%9Fe%2C_StVO_1970.svg") ;
    }        
  
  
  
    
.condition.wet {
  background-image:url("http://upload.wikimedia.org/wikipedia/commons/0/03/Zusatzzeichen_1052-36.svg");
  border:none;
  background-color:transparent;
  height:35px;
  }
.condition.hgv {
  background-image:url("http://upload.wikimedia.org/wikipedia/commons/5/50/Zusatzzeichen_1048-12.svg");
  border:none;
  background-color:transparent;
  height:20px;
  }      