div.signs .bicycleno {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/48/Zeichen_254.svg"); }
div.signs .footno {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/cc/Zeichen_259.svg"); }
div.signs .hgvno {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/7/72/Zeichen_253.svg"); }
div.signs .motorroad {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/c6/Zeichen_331.svg"); }
div.signs .overtaking {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/8/87/Zeichen_276.svg"); }
div.signs .overtakinghgv {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/ca/Zeichen_277.svg"); }
div.signs .bicycledesig {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/2d/Zeichen_237.svg"); }
div.signs .busdesig {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/45/Zeichen_245.svg"); }
div.signs .roundabout {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/7/72/Zeichen_215_-_Kreisverkehr%2C_StVO_2000.svg"); }
div.signs .traffic_signals {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/93/Zeichen_131.svg"); }
div.signs .give_way {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/96/Zeichen_205.svg"); }
div.signs .stop {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/5/5c/Zeichen_206.svg"); }
div.signs .priority {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/91/Zeichen_208.svg"); }
div.signs .crossing {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/b/b0/Zeichen_350-10.svg"); }
div.signs .priority_road {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/f/ff/Zeichen_306_-_Vorfahrtstra%C3%9Fe%2C_StVO_1970.svg"); }
div.signs .condition.wet {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/03/Zusatzzeichen_1052-36.svg");
  border: none;
  background-color: transparent;
  height: 35px; }
div.signs .condition.hgv {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/5/50/Zusatzzeichen_1048-12.svg");
  border: none;
  background-color: transparent;
  height: 20px; }

div.refcont div div.industrial > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/4e/RWB_Industriegebiet.svg"); }
div.refcont div div.park_and_ride > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/94/Sinnbild_P-R.svg"); }
div.refcont div div.parking > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/0f/UK_traffic_sign_801.svg"); }
div.refcont div div.fuel > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/d/d3/Zeichen_361-50.svg"); }
div.refcont div div.stadium > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/f/fb/Stadium_icon.svg"); }
div.refcont div div.airport > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/5/51/Italian_traffic_signs_-_icona_aeroporto.svg"); }
div.refcont div div.restaurant > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/4d/Zeichen_376.svg"); }
div.refcont div div.toilets > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/d/d7/Zeichen_378.svg"); }
div.refcont div div.motorway > span::before, div.refcont div div.highway > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/2a/Zeichen_330_-_Autobahn%2C_StVO_1992.svg"); }
div.refcont div div.hospital > span::before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/94/RWB_Krankenhaus.svg"); }
div.refcont div div.train_station > span::before {
  background-color: white;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/3/33/Fernbahn_Signet_HVV.svg"); }
div.refcont div div.ferry > span::before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/92/Ferry.png"); }
div.refcont div div.motorway.refto > span {
  background-color: green;
  border: 1px white solid;
  margin: 1px;
  width: 97px;
  color: white; }

div.refN, span.refN {
  background: #5078D0;
  border: 1px solid white;
  color: white; }

div.refR, span.refR {
  background: white;
  border: 1px solid black;
  color: black; }

div.refE, span.refE {
  background: green;
  border: 1px solid white;
  color: white; }

div.N {
  background: #5078D0;
  border: 1px solid white;
  color: white; }

div.R {
  background: white;
  color: black;
  border: 1px solid black; }

/*# sourceMappingURL=be.css.map */
