$laneHeight: 135px;
$laneWidth:  120px;

$laneSub: 6px; /*Width of  borders*/
$labelWidth: 100px;
$signsWidth: 150px;
$extraMult: 1.53;

$colorAutobahn: #5078D0;
$colorBundesstrasse: #F0E060;



body {
  background:#f2f5f7;
  font-size:12px;
  font-family:sans-serif;
}


div.config {
 display:block;
 width:200px;
 float:left;
 background:#f7f5f2;
 border:1px solid #aaa;
 margin:2px;
}

div.selectquery {
 display:block;
 margin:2px;
 margin-left:20px;
 width:300px;
 float:left;
 background:#f7f5f2;
 padding-left:3px;
 border:1px solid #aaa;
}


div.config h3, div.selectquery h3{
  margin:2px;
  font-size:15px;
  }

div.selectquery input[type=text]{
/*   margin-left:40px; */
  width:100px;
}  
  
div.way {
  position:relative;
  }

div.wayname {
  z-index:10;
  }  
  
div.sep {
  clear:both;
  height:2px;
  width:100%;
  background:#ddd;
  font-size:12px;
  position:relative;
  }  
  
div.sep .name {
  position:absolute;
  top: -15px;
  left:$labelWidth;
  z-index:10;
  }  
.extrasize div.sep .name {
  top: -15px;
  }
  
div.waylayout {
  position:absolute;
  top:(0px - $laneHeight - 52px);
  left:200px;
  height:100px;
  width:100px;
  background:white;
  border-radius:50px;
  box-shadow:5px 5px 5px #aaa;
  border:1px solid #aaa;
  }  
.extrasize div.waylayout {
  top:(0px - $laneHeight*$extraMult - 52px);
  }
  
div.connects {
  position:absolute;
  top:45px;
  left:0px;
  width:0px;
  height:10px;
  border-right:50px solid #40ff30;
  border-left:50px solid transparent;
  z-index:5;
  opacity: 0.9;
  }  

div.connects.main {
  border-right-color:#888;
  z-index: 2;
  opacity: 1;
  }  

div.connects.main.from {
  border-right-color:black;
  z-index:2;
  opacity: 1;
  }  

div.waylayout a{
  text-decoration:none !important;
  }
  
div.label {
  width:$labelWidth;
  height:$laneHeight;
  position:relative;
  float:left;
  top:-15px;
  }  
  
div.signs {
  z-index:10;
  float:left;
  position:relative;
  width:$signsWidth;
  height:$laneHeight;
  }  

div.width {
  position:absolute;
  bottom:2px;
  width:($laneWidth - $laneSub - 6px);
  font-size:10px;
  text-align:center;
  }  
  
div.max {
  width:25px;
  height:25px;
  float:left;
  text-align:center;
  border:4px solid red;
  border-radius:25px;
  font-size:10px;
  background:white;
  font-weight:bold;
  line-height:25px;
  overflow:hidden;
  box-shadow:3px 3px 3px #aaa;
 }

div.max.none {
  border-color:#aaa;
  color:white;
  }

div.max.unkwn {
  border-color:yellow;
  color:#aaa;
  }  
  
div.maxcont {
  width:33px;
  float:left;
  }  
  
div.maxcont .max {
  float:none;
  }
  
div.maxcont .condition {
  border:1px solid black;
  border-radius: 2px;
  text-align:center;
  font-size:10px;
  background: no-repeat center center white;
  background-size:30px;
}

div.condition.wet {
  background-image:url("http://upload.wikimedia.org/wikipedia/commons/0/03/Zusatzzeichen_1052-36.svg");
  border:none;
  height:35px;
  }
div.condition.hgv {
  background-image:url("http://upload.wikimedia.org/wikipedia/commons/5/50/Zusatzzeichen_1048-12.svg");
  border:none;
  height:35px;
  }  
  
div.lane .max {
  position: absolute;
  bottom: 10px;
  left: 10px;
  }  

.extrasize {
  div.lane, div.nolane {
    width:($laneWidth * $extraMult - $laneSub);
    height:($laneHeight * $extraMult);
    }
  div.middle {
    height:($laneHeight * $extraMult);
    left:(4*$laneWidth*$extraMult + $labelWidth + $signsWidth);
    }
  }  

  
div.lane {
  position: relative;
  background:#cdc;
  height:$laneHeight;
  border-left:3px dashed white;
  border-right:3px dashed white;
  width:$laneWidth - $laneSub;
  float:left;
  cursor:default;
  }
  
div.nolane {
  background:#aaa;
  border-left:3px solid white;
  border-right:3px solid white;
  height:$laneHeight;
  width:($laneWidth) - $laneSub;
  float:left;
  }
  
  
div.lane.backward {
  background:#dcc;
  }

div.lane.no {
  border-left:3px solid white;
  border-right:3px solid white;
  }  
  
div.lane.not_left.forward, div.lane.not_right.backward {
  border-left: 3px solid white;
  }  
  
div.lane.not_right.forward, div.lane.not_left.backward {
  border-right:3px solid white;
  }  

div.placeholder {
  float:left;
  }

  
div.rightshoulder, div.norightshoulder, div.leftshoulder, div.noleftshoulder {
  background:#ccc;
  height:$laneHeight;
}
  
div.rightshoulder, div.leftshoulder {
  border-left:3px solid white;
  border-right:3px solid white;
  width:($laneWidth*0.6) - $laneSub;
  float:left;  
  }  
div.norightshoulder, div.noleftshoulder {
  border:none;
  width:5px;
  float:left;  
  } 

div.noleftshoulder, div.leftshoulder {
  float:none;
  box-shadow:none !important;
  position:absolute;
  }  
  
div.turns.backward {
  position:relative;
  top:($laneHeight - 25px);
  transform: rotate(180deg);
  }  
.extrasize div.turns.backward {
  top:($laneHeight*$extraMult - 25px);
  }
  
div.middle {
  z-index:10;
  position:relative;
  height:$laneHeight;
  left:(4*$laneWidth + $labelWidth + $signsWidth );
  width:1px;
  background:#888;
  float:left;
  opacity:.5;
  }  
  
div.destination {
  font-size:9px;
  position:relative;
  width:($laneWidth - $laneSub - 4px);
  text-align:center;
  top:10px;
  margin-left:2px;
  }  

.backward div.destination {
  top:-15px;
  }    

div.destination.double {
  z-index: 1;
  width:(2*$laneWidth - $laneSub - 4px);
  }  
div.destination.triple {
  z-index: 1;
  width:(3*$laneWidth - $laneSub - 4px);
  }
div.destination.quadruple {
  z-index: 1;
  width:(4*$laneWidth - $laneSub - 4px);
  }

.extrasize div.destination {
  width:($laneWidth * $extraMult - $laneSub - 4px);
  } 
  
.extrasize div.destination.double {
  width:(2*$laneWidth*$extraMult - $laneSub - 4px);
  }  
.extrasize div.destination.triple {
  width:(3*$laneWidth*$extraMult - $laneSub - 4px);
  }
.extrasize div.destination.quadruple {
  width:(4*$laneWidth*$extraMult - $laneSub - 4px);
  }
  
div.bridge  {
  box-shadow:5px 0px 5px #888;
  }

.label a {
  font-size:12px;
  text-decoration:none;
  }  

div.clear {
  visibility:none;
  clear:both;
  height:0px;
  }  
  
div.destCountry {
  margin:2 px;
  padding: 0px 5px 1px 5px;
  background:white;
  color:black;
  border:1px solid black;
  border-radius: 30px;
  font-size:9px;
  height:9px;
  max-width:100px;
  display:inline;
  float:left;
  }   
  
span.destCountry {
  margin:1 px;
  margin-left:2px;
  padding: 0px 5px 1px 5px;
  background:white;
  color:black;
  border:1px solid black;
  border-radius: 30px;
  font-size:9px;
  height:8px;
  max-width:100px;
  display:inline;
}



.signs .A, .signs .B, .signs .refA, .signs .refB, .signs .refK, .signs .refK {
  float:left;
  height:16px;
  font-size:13px;
  padding:1px;
  }  
  
div.refA, div.refB, div.refK {
  margin:2px 2px 2px 2px;
  padding: 0px 2px 0 2px;
  border-radius: 4px;
  height:11px;
  max-width:100px;
  display:inline;
  float:right;
  }  
  
div.refA {
  background:$colorAutobahn;
  border:1px solid white;
  color:white;
  }  
div.refB {
  background:$colorBundesstrasse;
  border:1px solid black;
  color:black;
  }  
div.refK {
  background:white;
  border:1px solid black;
  color:black;
  }  

div.refcont {
  position:relative;
  }  

div.A, div.B, div.K {  
  max-height:($laneHeight - 20px);
  overflow:hidden;
  }
.extrasize div.A, .extrasize div.B, .extrasize div.K {
  max-height:($laneHeight*$extraMult - 20px);
  }
  
div.A {
  background:$colorAutobahn;
  border:1px solid white;
  color:white;
  }  
div.B {
  background:$colorBundesstrasse;
  color:black;
  border:1px solid black;
  }    
div.K {
  background:$colorBundesstrasse;
  color:black;
  border:1px solid black;
  }  

div.refcont div div.dest {
  width:($laneWidth - 17px);
  margin:1px 0 1px 2px;
  min-height:12px;
  }
  
.double div.refcont div div.dest {
  width:(2*$laneWidth - 17px);
  }
.triple div.refcont div div.dest {
  width:(3*$laneWidth - 17px);
  }
.quadruple div.refcont div div.dest {
  width:(4*$laneWidth - 17px);
  }
  
.extrasize div.refcont div div.dest {
  width:($laneWidth*$extraMult - 17px);
  }  
.extrasize .double div.refcont div div.dest {
  width:(2*$laneWidth*$extraMult - 17px);
  }
.extrasize .triple div.refcont div div.dest {
  width:(3*$laneWidth*$extraMult - 17px);
  }  
.extrasize .quadruple div.refcont div div.dest {
  width:(4*$laneWidth*$extraMult - 17px);
  }  
  
div.refcont div {
  div.industrial span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/4/4e/RWB_Industriegebiet.svg") ;
    }
  div.park_and_ride span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/9/94/Sinnbild_P-R.svg") ;
    }  
  div.parking span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/0/0f/UK_traffic_sign_801.svg") ;
    }  
  div.fuel span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/d/d3/Zeichen_361-50.svg") ;
    }  
  div.stadium span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/f/fb/Stadium_icon.svg") ;
    } 
  div.airport span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/5/51/Italian_traffic_signs_-_icona_aeroporto.svg") ;
    }   
  div.restaurant span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/4/4d/Zeichen_376.svg") ;
    }   
  div.toilets span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/d/d7/Zeichen_378.svg") ;
    } 
  div.motorway span, div.highway span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/b/b4/Zeichen_330.svg") ;
    } 
  div.hospital span {  
    background-image:url("http://upload.wikimedia.org/wikipedia/commons/9/94/RWB_Krankenhaus.svg") ;
    }  

  div.symbol span {
    padding-left:15px;
    background-size:15px;
    background-repeat:no-repeat;
    }
  div.symbolonly {
    float:left;
    height:24px;
    width:24px;    
    }
  div.symbolonly span{
    background-size:24px;
    background-repeat:no-repeat;
    display:block;
    height:24px;
    width:24px;
    }
  }
  

.extrasize div.refA, .extrasize div.refB, .extrasize div.refK {  
  max-width:155px;
  }  
.extrasize div.refcont div div.symbol {
  width:145px;
  }  
  
div.refcont:hover .tooltip {
  opacity:1;
  margin:0px;
  }
  
div.refcont .tooltip {
  z-index:5;
  position: absolute;
  top:20px;
  left:-220px;
  width: 200px;
  background-color: #ffffdd;
  color: black;
  border:2px solid white;
  border-radius: 4px;
  box-shadow:3px 3px 3px #aaa;
  opacity:0;
  margin-left: -999em;
  margin-top: -999em;
  transition: opacity 0.1s linear 0.3s;
  }  

div.turns {
  color:white;
  text-align:center;
  font-size:30px;
  font-weight:bold;
  margin-top:-5px;
  margin-bottom:-15px;
  height:30px;
  }  
  
  
div.connectdestination .K, div.connectdestination .A, div.connectdestination .B{
  box-shadow:5px 5px 5px #aaa;  
/*   float:left; */
  }  
  
div.connectdestination {
  position:absolute;
  top: -40px -$laneHeight;
  left: 300px;  
}

div.connectdestination div.destination {
  float:left;
}
