/*Width of  borders*/
body {
  background: #f2f5f7;
  font-size: 12px;
  font-family: sans-serif;
  min-width: 1200px; }

div.config {
  display: block;
  width: 200px;
  float: left;
  background: #f7f5f2;
  border: 1px solid #aaa;
  margin: 2px; }

div.selectquery {
  display: block;
  margin: 2px;
  margin-left: 20px;
  width: 300px;
  float: left;
  background: #f7f5f2;
  padding-left: 3px;
  border: 1px solid #aaa; }

div.config h3, div.selectquery h3 {
  margin: 2px;
  font-size: 15px; }

div.selectquery input[type=text] {
  width: 100px; }

div.way {
  position: relative; }

div.wayname {
  z-index: 10; }

div.sep {
  clear: both;
  height: 2px;
  width: 100%;
  background: #ddd;
  font-size: 12px;
  position: relative; }

div.sep .name {
  position: absolute;
  top: -15px;
  left: 100px;
  z-index: 10; }

div.waylayout {
  position: absolute;
  top: -187px;
  left: 200px;
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #aaa;
  border: 1px solid #aaa; }

div.connects {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 0px;
  height: 10px;
  border-right: 50px solid #40ff30;
  border-left: 50px solid transparent;
  z-index: 5;
  opacity: 0.9; }

div.connects.next {
  border-right-color: #888;
  z-index: 2;
  opacity: 1; }

div.connects.main {
  border-right-color: #ccc; }

div.connects.main.from {
  border-right-color: black;
  z-index: 2;
  opacity: 1; }

div.connects.toward {
  border-right: 50px solid #ff4030; }

div.waylayout a {
  text-decoration: none !important; }

div.label {
  width: 100px;
  height: 135px;
  position: relative;
  float: left;
  top: -15px; }

div.info {
  z-index: 10;
  float: left;
  position: relative;
  width: 150px;
  height: 135px; }

div.width {
  position: absolute;
  bottom: 2px;
  width: 108px;
  font-size: 10px;
  text-align: center; }

div.max {
  width: 25px;
  height: 25px;
  float: left;
  text-align: center;
  border: 4px solid red;
  border-radius: 25px;
  font-size: 10px;
  background: white !important;
  font-weight: bold;
  line-height: 25px;
  overflow: hidden;
  box-shadow: 3px 3px 3px #aaa; }

div.max.none {
  border-color: #aaa;
  background: white;
  color: white; }

div.max.unkwn {
  border-color: yellow;
  background: white;
  color: #aaa; }

div.signs div {
  width: 35px;
  height: 35px;
  float: left;
  text-align: center;
  background: center center no-repeat transparent;
  background-size: 30px; }
div.signs .max {
  width: 25px;
  height: 25px; }
div.signs .bicycleno {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/48/Zeichen_254.svg"); }
div.signs .footno {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/cc/Zeichen_259.svg"); }
div.signs .hgvno {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/7/72/Zeichen_253.svg"); }
div.signs .motorroad {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/c6/Zeichen_331.svg"); }
div.signs .overtaking {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/8/87/Zeichen_276.svg"); }
div.signs .overtakinghgv {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/ca/Zeichen_277.svg"); }
div.signs .bicycledesig {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/2d/Zeichen_237.svg"); }
div.signs .busdesig {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/45/Zeichen_245.svg"); }
div.signs .roundabout {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/7/72/Zeichen_215_-_Kreisverkehr%2C_StVO_2000.svg"); }
div.signs .traffic_signals {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/93/Zeichen_131.svg"); }
div.signs .give_way {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/96/Zeichen_205.svg"); }
div.signs .stop {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/5/5c/Zeichen_206.svg"); }
div.signs .priority {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/91/Zeichen_208.svg"); }
div.signs .crossing {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/b/b0/Zeichen_350-10.svg"); }
div.signs .priority_road {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/f/ff/Zeichen_306_-_Vorfahrtstra%C3%9Fe%2C_StVO_1970.svg"); }
div.signs .condition.wet {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/03/Zusatzzeichen_1052-36.svg");
  border: none;
  background-color: transparent;
  height: 35px; }
div.signs .condition.hgv {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/5/50/Zusatzzeichen_1048-12.svg");
  border: none;
  background-color: transparent;
  height: 20px; }

.lane div.signs div {
  height: 26px;
  width: 26px;
  background-size: 20px; }

.lane .signs .max {
  background-color: white;
  border-width: 3px;
  font-size: 10px;
  height: 20px;
  width: 20px;
  line-height: 20px; }

div.maxcont {
  width: 33px;
  float: left; }

div.maxcont .max {
  float: none; }

div.maxcont .condition {
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  font-size: 9px;
  background: no-repeat center center white;
  width: 31px;
  height: 12px;
  background-size: 30px; }

div.condition {
  border: none; }

div.lane .signs {
  position: absolute;
  bottom: 5px;
  left: 0px;
  height: 24px;
  width: 100%; }

div.lane {
  position: relative;
  height: 135px;
  border-left: 3px dashed white;
  border-right: 3px dashed white;
  width: 114px;
  float: left;
  display: inline-block;
  cursor: default; }

div.lane.forward {
  background: #cdc; }

div.lane.backward {
  background: #dcc; }

div.lane.bothlane {
  background: #aaa !important;
  border-left: 3px solid white !important;
  border-right: 3px solid white !important;
  height: 135px;
  width: 114px;
  display: inline-block;
  float: left; }

div.lane.restrictlane {
  background: #aaa !important;
  border-left: 3px solid white !important;
  border-right: 3px solid white !important;
  height: 135px;
  width: 114px;
  display: inline-block;
  float: left; }

div.lane.nolane {
  background: #666 !important;
  border-left: 3px solid white !important;
  border-right: 3px solid white !important;
  height: 135px;
  width: 114px;
  display: inline-block;
  float: left; }

div.lane.no {
  border-left: 3px solid white;
  border-right: 3px solid white; }

div.lane.not_left.forward, div.lane.not_right.backward {
  border-left: 3px solid white; }

div.lane.not_right.forward, div.lane.not_left.backward {
  border-right: 3px solid white; }

div.placeholder {
  position: relative;
  height: 132px;
  display: inline-block;
  padding: 0; }

div.lane.bicycledesig {
  background: #ccc; }

div.shoulder, div.noshoulder {
  background: #ccc;
  height: 135px; }

div.shoulder {
  border-left: 3px solid white;
  border-right: 3px solid white;
  width: 66px;
  background: #ccc; }

div.noshoulder {
  border: none;
  width: 4px;
  background: #aaa; }

div.sidewalk {
  border: none;
  width: 60px;
  background: #bde; }

div.nosidewalk {
  border: none;
  width: 4px;
  background: #bde; }

div.turns.backward {
  position: relative;
  top: 110px;
  transform: rotate(180deg); }

div.nolane.island {
  background: #666 !important;
  width: 54px; }

div.middle {
  z-index: 10;
  position: relative;
  height: 135px;
  left: 730px;
  width: 1px;
  background: #888;
  float: left;
  opacity: .5; }

div.destination {
  font-size: 9px;
  position: relative;
  width: 110px;
  text-align: center;
  top: 10px;
  margin-left: 2px;
  z-index: 1; }

.backward div.destination {
  top: -15px; }

div.destination.double {
  width: 230px; }

div.destination.triple {
  width: 350px; }

div.destination.quadruple {
  width: 470px; }

div.bridge::after {
  box-shadow: 5px 0px 5px 0 #444;
  width: 2px;
  height: 100%;
  content: " ";
  display: inline-block; }

div.tunnel::after {
  background: #000;
  width: 10px;
  height: 100%;
  content: " ";
  display: inline-block;
  box-shadow: 5px 0px 5px #000; }

.label a {
  font-size: 12px;
  text-decoration: none; }

div.clear {
  visibility: none;
  clear: both;
  height: 0px; }

div.destCountry {
  margin: 2 px;
  padding: 0px 5px 1px 5px;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 9px;
  height: 9px;
  max-width: 100px;
  display: inline;
  float: left; }

span.destCountry {
  margin: 1 px;
  margin-left: 2px;
  padding: 0px 5px 1px 5px;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 9px;
  height: 8px;
  max-width: 100px;
  display: inline; }

.info .A, .info .B, .info .refA, .info .refB, .info .refK, .info .refK, .info .S, .info .refS, .info .E, .info .refE {
  float: left;
  height: 14px;
  font-size: 11px;
  padding: 1px; }

div.refA, div.refB, div.refK, span.refA, span.refB, span.refK, div.refS, span.refS, div.refE, span.refE, span.ref {
  margin: 2px 2px 2px 2px;
  padding: 0px 2px 0 2px;
  border-radius: 4px;
  height: 11px;
  max-width: 100px;
  display: inline;
  float: right; }

span.refA, span.refB, span.refK, span.refS, span.refE, span.ref {
  display: inline-block;
  float: none; }

div.refA, span.refA {
  background: #5078D0;
  border: 1px solid white;
  color: white; }

div.refB, span.refB {
  background: #F0E060;
  border: 1px solid black;
  color: black; }

div.refK, span.refK {
  background: white;
  border: 1px solid black;
  color: black; }

div.refE, span.refE {
  background: green;
  border: 1px solid white;
  color: white; }

div.refS, span.refS {
  background: white;
  border: 1px solid black;
  color: black; }

span.refS {
  background: #5078D0;
  border: 1px solid white;
  color: white; }

span.ref {
  border: 1px solid #aaa; }

div.refcont {
  position: relative; }

div.A, div.B, div.K, div.S {
  max-height: 115px;
  overflow: hidden; }

div.A {
  background: #5078D0;
  border: 1px solid white;
  color: white; }

div.B {
  background: #F0E060;
  color: black;
  border: 1px solid black; }

div.K {
  background: #F0E060;
  color: black;
  border: 1px solid black; }

div.S {
  background: #FFFFFF;
  color: black;
  border: 1px solid black; }

div.refcont div div.dest {
  width: 103px;
  margin: 1px 0 1px 2px;
  min-height: 12px; }

.double div.refcont div div.dest {
  width: 223px; }

.triple div.refcont div div.dest {
  width: 343px; }

.quadruple div.refcont div div.dest {
  width: 463px; }

div.refcont div div.industrial > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/4e/RWB_Industriegebiet.svg"); }
div.refcont div div.park_and_ride > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/94/Sinnbild_P-R.svg"); }
div.refcont div div.parking > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/0f/UK_traffic_sign_801.svg"); }
div.refcont div div.fuel > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/d/d3/Zeichen_361-50.svg"); }
div.refcont div div.stadium > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/f/fb/Stadium_icon.svg"); }
div.refcont div div.airport > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/5/51/Italian_traffic_signs_-_icona_aeroporto.svg"); }
div.refcont div div.restaurant > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/4d/Zeichen_376.svg"); }
div.refcont div div.toilets > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/d/d7/Zeichen_378.svg"); }
div.refcont div div.motorway > span, div.refcont div div.highway > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/2a/Zeichen_330_-_Autobahn%2C_StVO_1992.svg"); }
div.refcont div div.hospital > span {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/94/RWB_Krankenhaus.svg"); }
div.refcont div div.train_station > span {
  background-color: white;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/3/33/Fernbahn_Signet_HVV.svg"); }
div.refcont div div.motorway.refto {
  background-color: #5078D0;
  border: 1px white solid;
  margin: 2px;
  color: white; }
div.refcont div div.symbol > span {
  padding-left: 15px;
  background-size: 15px;
  background-repeat: no-repeat; }
div.refcont div div.symbolonly {
  float: left;
  height: 24px;
  width: 24px; }
div.refcont div div.symbolonly > span {
  background-size: 24px;
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  width: 24px; }

div.refcont:hover .tooltip {
  opacity: 1;
  margin: 0px; }

div.refcont .tooltip {
  z-index: 5;
  position: absolute;
  top: 20px;
  left: -220px;
  width: 200px;
  background-color: #ffffdd;
  color: black;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #aaa;
  opacity: 0;
  margin-left: -999em;
  margin-top: -999em;
  transition: opacity 0.1s linear 0.3s; }

div.turns {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: -15px;
  height: 30px; }

div.connectdestination .K, div.connectdestination .A, div.connectdestination .B {
  box-shadow: 5px 5px 5px #aaa; }

div.connectdestination {
  position: absolute;
  top: -175px;
  left: 300px; }

div.connectdestination div.destination {
  float: left; }

hr {
  margin-bottom: 20px; }

#header {
  margin-right: 320px; }

#map {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid white;
  z-index: 10;
  box-shadow: 3px 3px 3px #aaa;
  /*   visibility:hidden; */ }

span.navigation {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer; }

span.normal {
  color: blue;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
